@import 'reset/reeeset.min.css';

@custom-media --only-huge-screen (width >= 90rem);

body {
  background: #333;
  font-size: responsive;
  margin: 1rem;
}

footer {
  margin-top: 2rem;
  padding: 2rem 1rem;
  text-align: center;
  color: #aaa;
}

section > div {
  background: white;
}

section#charts {
  lost-utility: clearfix;
}

section#charts > div {
  lost-waffle: 1/2;
}

@media (--only-huge-screen) {
  section#charts > div {
    lost-waffle: 1/3;
  }
}
